<link rel="stylesheet" href="/css/header.css" media="screen">
<header class='main-header'>
    <nav class='navbar' id='main-navbar'>
        <ul class='navlist' >
            <li class='navitem navlink'><a href='./'>clig<h1 class='website-title'></a></h1></li>
            <li class='navitem navlink'>Users</li>
            <li class='navitem navlink'><a href='./profile'>Profile</a></li>
            <li class='navitem navlink'><i class="far fa-cog"></i></li>
            <li class='navitem navlink'><a href='./logout'>Log Out</a></li>
        </ul>
    </nav>
</header>