<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>clig</title>
  </head>
  <body>
    {{#if loginMessage}}
      <div class="alert alert-danger">{{loginMessage}}</div>
    {{/if}}
    {{{body}}}
  </body>
</html>