<script src="js/index.js" charset="utf-8" defer></script>
<link rel="stylesheet" href="/css/index.css" media="screen">
<main class='preauth-main'>
    <div class='float-center-panel' id='index-panel'>
        <form method='get' action='/login'>
            <button class='index-button preauth-button' id='login-redirect-button'>Log In</button>
        </form>
        <form method='get' action='/signup'>
            <button class='index-button preauth-button' id='signup-redirect-button'>Sign Up</button>
        </form>
    </div>
</main> 