<script src="js/login.js" charset="utf-8" defer></script>
<link rel="stylesheet" href="/css/login.css" media="screen">
<main class='preauth-main'>
    <div class='float-center-panel' id='login-panel'>
        <h2>login</h2>
        <form method='POST' action='/login' class='data-form' id='login-form'>
            <div class='form-field'>
                <input type="text" class="input-field" id="input-email" name="email" placeholder="Email" />
            </div>
            <div class='form-field'>
                <input type="password" class="input-field" id="input-password" name="password" placeholder="Password" />
            </div>
            <button type="submit" class="preauth-button form-submit" id="submit-login-button">Log In</button>
        </form>
        <div id="login-attempt-overlay" class="hidden">
            <div class="modal-backdrop" id="login-attempt-backdrop"></div>
            <div class="modal" id="login-attempt-modal">
                <h2 id="login-attempt-text">Attempting to log in...</h2>
            </div>
        </div>
    </div>
</main>