<script src="js/signup.js" charset="utf-8" defer></script>
<link rel="stylesheet" href="/css/signup.css" media="screen">
<main class='preauth-main'>
    <div class='float-center-panel' id='signup-panel'>
        <h2>Create An Account</h2>
        <form method='POST' action='/signup' class='data-form' id='signup-form'>
            <div class='form-field'>
                <input type="text" class="input-field" id="input-first-name" name="first_name" placeholder="First Name" />
            </div>
            <div class='form-field'>
                <input type="text" class="input-field" id="input-last-name" name="last_name" placeholder="Last Name" />
            </div>
            <div class='form-field'>
                <input type="text" class="input-field" id="input-birthdate" name="birthdate" placeholder="Birthdate (YYYY-MM-DD)" />
            </div>
            <div class='form-field'>
                <input type="text" class="input-field" id="input-username" name="username" placeholder="Username" />
            </div>
            <div class='form-field'>
                <input type="text" class="input-field" id="input-email" name="email" placeholder="Email" />
            </div>
            <div class='form-field'>
                <input type="text" class="input-field" id="input-email-confirm" name="email_confirm" placeholder="Confirm Email" />
            </div>
            <div class='form-field'>
                <input type="password" class="input-field" id="input-password" name="password" placeholder="Password" />
            </div>
            <div class='form-field'>x
                <input type="password" class="input-field" id="input-password-confirm" name="password_confirm" placeholder="Confirm Password" />
            </div>
            <button type="submit" class="preauth-button form-submit" id="submit-signup-button">Sign Up</button>
        </form>
    </div>
</main>