a { 
    color: white;
    outline: none; 
    text-decoration: none;
}
a.image-link:focus { 
    outline: 0; 
}
.main-header{
    background-color: rgb(0, 13, 45);
    color: white;
}
.navlist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    list-style-type: none;
}
.navitem {
    margin-left: 9px;
    padding: 4px;
}