.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}
.float-center-panel {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    z-index: 990;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 52, 52, 0.7);
    border-radius: 20px;
    padding: 10px;
    color: white;
    border: 2px solid black;
}
.preauth-main {
    background: url("../images/preauth-background.jpg") no-repeat;
    background-size: cover;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
}
.data-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
  }
.hidden {
    display: none;
}
.input-field {
    margin: 4px;
}